.cart_box {
	background-color: #fab20a;
}
.cart_box_title {
	color: white;
	text-align: center;
}
.cart_course_title, .cart_course_title:hover {
	color: white !important;
	font-size: 1.25rem;
	font-weight: bold;
}
#cart_empty {
	background-color: #f4f4f4;
	color: #333333;
}
.cart_row {
	margin-bottom: 5px;
}
.cart_row_title, .cart_row_title h1, .cart_row_title b {
	color: white;
}
.cart_row_title, .cart_row_title h1 {
	padding: 5px;
}

.div_cart input, .div_cart select {
	background-color: white;
	border: 0;
	height: 30px;
	margin-right: 5px;
	margin-bottom: 5px;
	width: 100%;
}
.spacer {
	padding-bottom: 2em;
}

.save_cart {
	background-color: #a49f9f;
	border: 0px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	padding: 10px;
	text-align: center;
	width: 100%;
}
.save_cart a {
	color: white !important;
}

.add_participant {
	background: transparent;
	border: 0;
	color: white;
	padding: 0 0 5px 0;
	text-align: left;
}
.delete_participant {
	float: right;
	margin: 5px 5px 7px;
}
.participants {
	width: 100%;
}

.registration_header {
	background-color: #fab20a;
	color: white;
	margin-bottom: 15px;
	padding-left: 10px;
}
label.cart_text, label.cart_select {
    float: left;
    width: 150px;
}
input.cart_checkbox {
	margin-top: 7px;
	vertical-align: top;
}
label.cart_checkbox {
	max-width: 80%;
}
.cart_checkbox {
    background-color: #f4f4f4;
    border: 3px #f4f4f4 solid;
    max-width: 100%;
    padding-left: 7px;
}
.cart_checkbox a {
	text-decoration: underline;
}
input.cart_text, input.cart_date, input.cart_email, input.cart_number, select.cart_select {
    background-color: #f4f4f4;
    border: none;
    color: #4f4c4c !important;
    max-width: 100%;
	padding: 5px;
    width: 300px;
}
.div_cart input:invalid, .div_cart textarea:invalid {
	background-color: #fff2f4;
	border-left: 5px solid red;
}

.view_head {
	text-align: center;
}

#iban_wrong, #email_wrong {
	color: red;
	display: none;
	font-weight: bold;
	min-width: 200px;
	padding: 7px;
}
#iban_not_sepa {
	color: orange;
	display: none;
}